/* Start our framework */

body {
    font-family: 'Open Sans', sans-serif;
}
#navbar{
    position:fixed;
    float: right;
    width: 100px;
    /* top:0; */
 
}
.container {
    width: 90%;
    margin: auto;
    position: relative;
}

.txtCenter {
    text-align: center;
}

.upper {
    text-transform: uppercase;
}

.capital {
    text-transform: capitalize;
}

.clearFix {
    clear: both;
}

.mainColor {
    color: #74b9ff;
}

.backgroundColor {
    background-color: #74b9ff;
}

.txtColor {
    color: #fff;
}

.LogoFont {
    font-size: 25px;
    font-weight: bold;
    text-transform: capitalize;
    font-family: 'Indie Flower', cursive;
}

.sloganFont {
    font-size: 22px;
    font-family: 'Indie Flower', cursive;
}

.overlay {
    background: rgba(49, 55, 61, 0.788);
    width: 100%;
    height: 100%;
}

.btn {
    background: transparent;
    padding: 10px 0;
    width: 180px;
    font-size: 14px;
    border: 1px solid #969696;
    margin: 0 8px;
    border-radius: 10px;
}

.btn:hover {
    background-color: #74b9ff;
    cursor: pointer;
    transition: all .5s ease-in-out;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
    border: 1px solid #74b9ff;
}

.cover {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.hidden {
    display: none;
}

 ::-webkit-input-placeholder {
    font-size: 14px
}

 :-moz-input-placeholder {
    font-size: 14px
}

 :-ms-input-placeholder {
    font-size: 14px
}


/* End our framework *
/* nav bar */

.navbar-nav {
    margin-left: auto;
    background-color: transparent!important;
}

.navbar-nav .nav-link {
    font-size: 15px;
    margin-left: 16px;
    font-weight: 500;
    color: #000!important;
    border-bottom: 2px solid transparent;
}

.navbar-nav .nav-link.active {
    color: #74b9ff!important;
    font-weight: 500;
    border-bottom: 2px solid;
}